<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Wepick Admin</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
        <link href="/static/css/w.css" rel="stylesheet">
    </head>
    <body>
  	    <div id="root" />
  	    <script>
  	    	window.__admin_loggedIn = <%= isAdminLoggedIn %>;
  	    	window.__user_loggedIn = <%= isUserLoggedIn %>;
  	    	window.__user_email = "<%= userEmail %>";
  	    	window.__user_accessKey = "<%= userAccessKey %>";
  	    </script>
        <script type="text/javascript" src="<%= appSrc %>"></script>
    </body>
</html>